body {
  background-image: url(movie-theatre-screen-red-seats.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.App {
  text-align: center;
  /* background-image: url('theaterBackground.jpeg');
  background-repeat: no-repeat; */
  background-size: 100% 100%;
}


.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
